[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 11.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 11.0
